{% extends 'base.html' %}

{% block maincontent %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center" style="height:50px">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 text-center">
                <h1>OUR COMPANY</h1>
            </div>
        </div>


    </div>
    </div>
</section>
<div style="height: 20px; background-color:#A64B8D; position:relative"></div>
<!-- End Hero -->

<main id="main">
    <!-- ======= Who We Are Section ======= -->
    <div id="bui" class="bui">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row content">
                    <div class="col-lg-8">
                        <h1><b>WHO WE ARE</b></h1><br>
                        <p>
                            <b>Engineered Solutions Provider</b><br>
We are solutions oriented, integrated trading platform that aims at disrupting the traditional procurement value chain for developers by connecting them to experienced, cost efficient, and technologically superior suppliers in the world. A premier provider of architectural envelope systems.
Delivers durable, high-performance, energy-efficient, sustainable exterior & Interior façade solutions that maximize the performance of both materials, systems & technology<br><br>
                            <b>Trusted Platform</b><br>
The platform is a consortium of relevant, experienced, and motivated stakeholders that have come together in order to address their own procurement requirements and offering the same to large developers of scale.<br><br>
                            <b>Global Network</b><br>
Extensive and deep relationships with leading global manufacturers and suppliers of building materials with a focus on
Eastern Europe and China.<br><br>
                            <b>Seasonal Experts</b><br>
The platform will be managed by team of engineers and supervisors that have sourced and successfully delivered costeffective solutions to major projects in the GCC<br><br>
                            <b>Local Fabrication and Assembly Workshop</b><br>
We are able to fabricate excellent quality products with good looking finishes and our passion is working on custom andlabor intense projects, providing quality and craftmanship.<br><br>
                        </p>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!-- End About Section -->
    <!-- ======= WHAT WE DO Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
            <div class="text-center p-5">
                <h1 style="color: white;">WHAT WE DO</h1>
                <p style="font-size: 14px;">
                    <b style="color: #198754">SOURCE</b><br>
                    We bring to bear our network of global suppliers  to provide cheaper and yet technically superior  alternatives to locally produced and/or locally procured  materials.<br>
                    <b style="color: #198754">SOLVE  </b><br>
                    We bring to bear our network of global suppliers  to provide cheaper and yet technically superior  alternatives to locally produced and/or locally procured  materials.<br>
                    <b style="color: #198754">SUPPLY  </b><br>
                    We directly supply internal and external  building materials from the factory to the site  on CIF basis that can cut down time and storage  requirements for the contractor and cost for the  developer<br>
                    <b style="color: #198754">ENGAGE  </b><br>
                    We are able to work and supervise the workflow with  architects, consultants, and developers in  providing solutions to design requirements as  opposed to adjusting requirements based on availability  and technical limitations of local dealers<br>
                </p>
            </div>
        </div>
    </section>
    <!-- End WHAT WE DO Section -->

    <!-- ======= HOW WE DO IT Section ======= -->
    <section>
        <div class="container" data-aos="zoom-in">
            <div class="text-center p-4">
                <h1><b>HOW WE DO IT</b></h1><br>
                <p style="font-size: 14px; color: black;">
                    <b>Understanding the Technical  Design Requirement</b><br>
                    Our team is not just a sourcing agent but rather technical engineers with  decades of experience on site  installation which helps in working  collaboratively with procurement teams<br>
                    <b>FOCUSING ON SOLUTIONS</b><br>
                    We supplier agnostic and solution-oriented platform that is not biased or  limited in its sourcing relationships
Our independence removes any conflicts of  interest in providing the best possible procurement solution<br>
                    <b>Eliminating the Middle Man</b><br>
                    By accessing the factories directly and taking on the local import requirements  ourselves,
We can bypass the various middlemen  that add layers of cost and complexity to the value chain<br>


                </p>
            </div>
        </div>
    </section>
    <!-- End HOW WE DO IT Section -->
    <!-- POLICIES Section -->

    <div id="leftbox" class="" style="height:400px;">
        <div style="background-color: rgb(38, 36, 81);height:400px;">
            <div class="text-center p-6" style="color:#FFFF;">
                <br>
                <h3>ADVANCED SOLUTIONS BUSINESS</h3>
                <p>
                    <b>Our vision</b><br>
                    <b>To promote our quality of service, ability and reliability offering partnerships to our clients in
                        order to produce extraordinary results with high return.</b><br><br>
                    <b>Our Mission</b><br>
                    <b>To deliver high quality, time and cost-effective solutions and Systems assuring that system meet the
                        most up-to-date energy codes.</b><br>
                </p>
            </div>
        </div>
    </div>

    <div id="rightbox" class="" style="height:400px;">
        <div style="background-color: rgb(154, 67, 127);height:400px;">
            <div class="text-center p-5" style="color:#FFFF;">
                <br>
                <h3>OUR VALUES</h3>
                <p>
                    <b>Honesty</b><br>
                    <b>Integrity</b><br>
                    <b>Teamwork</b><br>
                    <b>Innovation</b><br>
                    <b>Quality Service</b><br>
                    <b>Commitment To Excellence</b><br>
                </p>
            </div>
        </div>
    </div>
    <!--    row 1   -->
    <div id="leftbox" class="" style="height:400px;">
        <div style="background-color: rgb(154, 67, 127);height:400px;">
            <div class="text-center p-6" style="color:#FFFF;">
                <br>
                <h3>QUALITY POLICY</h3>
                <p>ASB  Marketing and Services is committed to meeting the agreed requirements and standards of our clients in the execution of our contracts and to producing a project that is developed, designed, constructed and completed to program to the specified quality standards and, in all respects, conforms to contractual, regulatory and statutory requirements.
This commitment will be achieved by working to the Quality Management System of the Company which will be continually updated and improved to ensure that the Company remains successful.
Meeting the expectations of the client is founded on, technical and commercial experience, the correct level of resourcing and a desire to perform.
The Company will continually improve the Company’s quality performance through the monitoring of KPIs.
                </p>
            </div>
        </div>
    </div>
    <div id="rightbox" class="" style="height:400px;">
        <div style="background-color: rgb(38, 36, 81);height:400px;">
            <div class="text-center p-5" style="color:#FFFF;">
                <br>
                <h3>HEALTH & SAFETY POLICY</h3>
                <p>
                    We Marketing and Services is committed to the protection of its resources including employees and protection against human suffering and financial loss from accidents.
We maintain a vigorous accident prevention program and ensure that activities pose no threat to environment, safety and health for those who may be affected directly or indirectly.
We aggressively comply with all applicable laws and requirements and actively cooperate with all concerned government agencies.
While responsibility for health, safety and protection of the environment rests with all levels of management, we adamantly compel all employees to carry out their work in accordance with these principles and standards.
                </p>
            </div>
        </div>
    </div>

    <!--    row 2   -->
    <div id="leftbox" class="" style="height:400px;">
        <div style="background-color: rgb(38, 36, 81);height:400px;">
            <div class="text-center p-5" style="color:#FFFF;">
                <br>
                <h3>ENVIRONMENTAL POLICY</h3>
                <p>
                    We are committed to the protection of the environment by the efficient use of natural resources and
                    energy and product stewardship. By measuring the impact of our construction activities on the
                    environment, we set targets for ongoing improvement.
                </p>
            </div>
        </div>
    </div>
    <div id="rightbox" class="" style="height:400px;">
        <div style="background-color: rgb(154, 67, 127);height:400px;">
            <div class="text-center p-5" style="color:#FFFF;">
                <br>
                <h3>OUR ISO CERTIFICATIONS</h3>
                <p>
                    <b>ISO 9001:2015</b><br>
                    <b>ISO 4001:2015</b><br>
                    <b>ISO 14001:2015</b><br>
                </p>
            </div>
        </div>
    </div>


    <!-- End POLICIES Section -->
    <!-- Images Section -->
    <div class="row">
        <!--    row 2-->
        <div id="" class="col-lg-4"
            style="background-image: url('static/img/company_img1.jpg'); background-size: cover; height:250px;">
        </div>
        <div id="" class="col-lg-4"
            style="background-image: url('static/img/company_img2.jpg'); background-size: cover; height:250px;">
        </div>
        <div id="" class="col-lg-4"
            style="background-image: url('static/img/company_img3.jpg'); background-size: cover; height:250px;">
        </div>
    </div>
    <!-- End Images Section -->
    <!-- Invite Section -->
    <div class="invite">
        <div class="text-center p-3" style="color:#FFFF;">
            <h3>WORK WITH EXPERTS</h3>
            <div class="text-center"><button style="background-color: #262451; color: #FFFF;" class="btn"
                    type="submit">INQUIRE</button></div>
        </div>
    </div>
    <!-- End Invite Section -->

</main>
<!-- End #main -->
{% endblock maincontent %}